<div class="sign-up">


  <div class="register-dark">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="register-greet">
     <h2>Sign up</h2>
    <img class="lock-reg" src="https://cdn.borlabs.io/wp-content/uploads/2019/09/blog-wp-login.png" alt="">
    </div>


    <div class="form-group">
      <%= f.input :name,
       required: true,
       autofocus: true,
       input_html: { autocomplete: "username", class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :email,
       required: true,
       input_html: { autocomplete: "email", class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :password,
        required: true,
        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) ,
        input_html: { autocomplete: "new-password", class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :password_confirmation,
        required: true,
        input_html: { autocomplete: "new-password", class: 'form-control' } %>
    </div>


    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: 'btn btn-primary btn-block btn-large' %><br />
    <div class="devise-links">
    <%= render "devise/shared/links" %>
    </div>
    <% end %>
    </div>
  </div>
</div>

