<div class="community-navbar" style="background: <%= current_user.color %>">

  <%= link_to root_path do %>
    <div class="navbar-logo" >
      <%= image_tag "white-logo.png", alt: "conscious clicks logo", class: "cc-logo" %>
      <h1 class="ml-2 mt-2">Conscious Clicks</h1>
    </div>
  <% end %>

  <div class="navbar-buttons">
    <%= link_to "home", root_path %>
    <%= link_to "dashboard", dashboard_path %>
    <%= image_tag "avatar-smiley.png", alt: "smiley face avatar", class: "avatar-small" %>
  </div>
</div>

<div class="community-top">
  <h2>explore message sets</h2>
</div>

<div class="community-content-container">

  <div class="tab">
    <div><button class="tablinks" id="myCurrentSets">my current sets</button></div>
    <div><button class="tablinks" id="byConsciousClicks">by conscious clicks</button></div>
    <div><button class="tablinks" id="byOtherClickers">by other clickers</button></div>
    <div><button class="tablinks" id="myCustomSets">my custom sets</button></div>
    <div><button class="tablinks" id="addSet">make your own</button></div>
  </div>

  <div id="my-custom-sets" class="tabcontent">

    <% if MessageSet.where(user_id: current_user.id) == [] %>

      <div class="no-messages">
        <h3 class="text-center mt-5">You have no custom message sets yet.</h3>
        <p class="text-center">Come up with some inspiration!</p>
        <i class="fas fa-lightbulb"></i>
      </div>

    <% end %>

    <% MessageSet.where(user_id: current_user.id).each do |message_set| %>

      <div class="my-message-set message-set-<%= message_set.id %>" id="defaultOpen">
        <div class="set-info">
          <i class="fas fa-chevron-circle-down btn-show mt-1"></i>
          <h3 class="ml-2"> <%= message_set.theme %> </h3>
          <% message_set.public ? @published = "published" : @published = "private" %>
          <p class="ml-2 mt-1"> <%= @published %> </p>
        </div>

        <% if current_user.message_sets.include?(message_set) %>
          <%= link_to message_set_take_one_path(message_set.id, tab: "my-custom-sets"), remote: true, method: :delete do %>
            <i class="fas fa-minus-circle btn-minus"></i>
          <% end %>
        <% else %>
          <%= link_to message_set_add_one_path(message_set.id, tab: "my-custom-sets"), remote: true, method: :post  do %>
            <i class="fas fa-plus-circle btn-add"></i>
          <% end %>
       <% end %>
      </div>

      <div class="messages-list">
        <ul>
        <% message_set.messages.each do |message| %>
          <li id="message-<%= message.id %>"><%= message.content %></li>
        <% end %>
        </ul>
      </div>

      <div class="manage-buttons">
        <button class="btn-edit" id="edit-set" type="button" data-toggle="modal" data-target="#exampleModalCenter">edit</button>
        <!-- <%= link_to "Edit", edit_message_set_path(message_set), class: "btn-edit" %> -->
        <% message_set.public ? @publish = "make private" : @publish = "publish" %>
        <%= link_to publish_message_set_path(message_set), remote: true, method: :patch do %>
          <button class="btn-edit"> <%= @publish %> </button>
        <% end %>
        <%= link_to message_set_path(message_set.id), remote: true, method: :delete, data: { confirm: "Are you sure?" } do %>
          <button class="btn-edit">delete</button>
        <% end %>
      </div>

      <div class="form-add-message" id="message-form-<%= message_set.id %>">
        <%= simple_form_for([ message_set, @message ], remote: true) do |f| %>
          <%= f.input :content, label: "message" %>
          <%= f.input :link, label: "link" %>
          <%= f.submit "add message", class: "btn-purple" %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">Edit your message set</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-devise-form">
            <h2>Edit your message set</h2>

            <div class="add_message_set">
              <div class="container">
                <div class="form-inputs">

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="my-current-messages" class="tabcontent">

    <% current_user.message_sets.each do |message_set| %>

      <div class="my-message-set">
        <div class="set-info">
          <i class="fas fa-chevron-circle-down btn-show mt-1"></i>
          <h3 class="ml-2"> <%= message_set.theme %> </h3>
        </div>
  <!--       we need to create and if statement -- if this message set belongs to this user show delete else show add -->
        <% if current_user.message_sets.include?(message_set) %>
          <%=link_to message_set_take_one_path(message_set.id, tab: "my-current-messages"), remote: true, method: :delete do %>
            <i class="fas fa-minus-circle btn-minus"></i>
          <% end %>
        <% else %>
          <%=link_to message_set_add_one_path(message_set.id, tab: "my-current-messages"), remote: true, method: :post do %>
                <i class="fas fa-plus-circle btn-add"></i>
          <% end %>
        <% end %>

      </div>

      <div class="messages-list">
        <ul>
        <% message_set.messages.each do |message| %>
          <li><%= message.content %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div id="by-conscious-clicks" class="tabcontent">

    <% MessageSet.where(user_id: @admin.id).each do |message_set| %>

      <div class="my-message-set">
        <div class="set-info">
          <i class="fas fa-chevron-circle-down btn-show mt-1"></i>
          <h3 class="ml-2"> <%= message_set.theme %> </h3>
        </div>
  <!--  we need to create and if statement -- if this message set belongs to this user show delete else show add -->
        <% if current_user.message_sets.include?(message_set) %>
          <%=link_to message_set_take_one_path(message_set.id, tab: "by-conscious-clicks"), remote: true, method: :delete do %>
            <i class="fas fa-minus-circle btn-minus"></i>
          <% end %>
        <% else %>
          <%=link_to message_set_add_one_path(message_set.id, tab: "by-conscious-clicks"), remote: true, method: :post do %>
                <i class="fas fa-plus-circle btn-add"></i>
          <% end %>
        <% end %>

      </div>
      <div class="messages-list">
        <ul>
        <% message_set.messages.each do |message| %>
          <li><%= message.content %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div id="by-other-clickers" class="tabcontent">

    <% MessageSet.where.not(user_id: @admin.id).where.not(user_id: current_user.id).where(public: true).each do |message_set| %>

      <div class="my-message-set">
        <div class="set-info">
          <i class="fas fa-chevron-circle-down btn-show mt-1"></i>
          <h3 class="ml-2"> <%= message_set.theme %> </h3>
          <% author = User.find_by(id: message_set.user_id) %>
          <p class="ml-3">by <%= author.name %> </p>
        </div>
         <% if current_user.message_sets.include?(message_set) %>
          <%=link_to message_set_take_one_path(message_set.id, tab: "by-other-clickers"), remote: true, method: :delete do %>
            <i class="fas fa-minus-circle btn-minus"></i>
          <% end %>
        <% else %>
          <%=link_to message_set_add_one_path(message_set.id, tab: "by-other-clickers"), remote: true, method: :post do %>
                <i class="fas fa-plus-circle btn-add"></i>
          <% end %>
        <% end %>
      </div>
      <div class="messages-list">
        <ul>
        <% message_set.messages.each do |message| %>
          <li><%= message.content %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div id="add-set" class="tabcontent">
    <div class="container-devise-form msg-set-tab">
      <h2 class="spartan">Add a message set</h2>

      <div class="add_message_set">
        <div class="container">
          <div class="form-inputs">
            <%= simple_form_for @message_set do |f| %>
              <div class="form-inputs">
                <%= f.label :theme , label: 'Message theme'%> <br/>
                <%= f.input :theme, label: false  %> <br/>
              </div>

              <div class="form-actions">
                <div class="book">
                  <%= f.submit "add", class: "btn-purple"%>
                </div>
              </div>
            <% end %>
            <br>
          </div>
        </div>
      </div>
    </div>


