<div class="dashboard-background">
  <div class="container-dashboard">

    <div class="dashboard-left">
      <div class="user_info">
        <img class="avatar-large" alt="avatar-large" src="https://avatars2.githubusercontent.com/u/70278044?s=460&u=b10537baca681bbc16927765e218f7cb671edcc1&v=4" />
        <h3 class="user-name"><%= current_user.name%></h3>
        <div class="dashboard-buttons">
          <%= link_to 'Home', root_path, class: 'btn-homepage' %>
          <%= link_to 'Update Messages', quiz_path, class: 'btn-homepage'  %>
        </div>
      </div>

      <div class="card-dashboard">
        <p class="text-center">Stats</p>
        <p class="text-center">Your mood improved 18% this week!</p>
        <p></p>
      </div>
    </div>

    <div class="dashboard-right">

      <div class="card-dashboard">
        <p class="text-center">Calendar</p>
        <% (Date::DAYNAMES[1..-1] << Date::DAYNAMES.first).each_with_index do |day, index|  %>
          <div class="weekday">
            <%= day %>
            <%= @average_mood_today&.emoji %>
          </div>
        <% end %>
      </div>

      <div class="card-dashboard">
       <div class="d-flex justify-content-center">
        <p class="text-center">Bookmarked sites</p>
          <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn ml-2"><i class="fa fa-plus" aria-hidden="true"></i></button>
          <div id="myDropdown" class="dropdown-content">
            <div class="newbookmark_container p-1">
            <%= simple_form_for [ @user, @bookmark ] do |f| %>
            <%= f.input :name %>
            <%= f.input :link %>
            <%= f.submit "add", class: "btn btn-primary" %>
            <% end %>
          </div>
          </div>

          <script>
              function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
              }
               document.querySelector('.dropbtn').onclick = myFunction
          </script>
        </div>
       </div>
          <div class="d-flex">
          <% current_user.bookmarks.each do |bookmark| %>
            <div class="mr-4">
              <%= link_to bookmark.link do%>
                <%= image_tag bookmark.favicon_url, alt: "alttext", class: "favicon", width: "80px" %>
                 <!--  <%= bookmark.name %> -->

              <% end %>

              <%=link_to bookmark_path(bookmark.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt"></i> </p>
              <% end %>
            </div>
        <% end %>
        </div>


      </div>

      <div class="card-dashboard">
         <p class="text-center">My Message sets</p>
      </div>

    </div>
  </div>
</div>
