<%= content_for :meta_title, "Conscious Clicks" %>
<%= content_for :meta_description, "Dashboard" %>

<div class="dashboard-background" style="background: linear-gradient(359.61deg, #FFFFFF -186.67%, rgba(255, 255, 255, 0) 99.72%), <%= current_user.color %>;">
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn-transparent', id: 'logout' %>

  <%= link_to root_path do %>
    <div class="website-name">
      <%= image_tag "white-logo.png", alt: "conscious clicks logo", class: "cc-logo" %>
      <h1 class="ml-2 mt-2">Conscious Clicks</h1>
    </div>
  <% end %>

  <div class="container-dashboard">

    <h1 class="invisible">Dashboard</h1>

    <div class="dashboard-cards">

      <div class="dashboard-left">

        <div class="user_info">
          <%= image_tag "avatar-smiley.png", alt: "smiley face", class: "avatar-large" %>
          <h3 class="user-name"><%= current_user.name %></h3>
        </div>


        <!-- message sets -->

        <div class="col-5 m-1">
          <div class="card-dashboard vertical-card">
            <h4 class="text-center margins p-1">My Message Sets</h4>

            <div class="messagesets_cardleft scroll" style="vertical-align: center;">
              <% current_user.message_sets.each do |message_set| %>
                <p> <%= message_set.theme %> </p>
              <% end %>
            </div>
            <%= link_to "manage", community_path, class: 'btn-purple' %>
          </div>
        </div>

      </div>

      <div class="dashboard-right">

        <div class="house">
          <%= link_to root_path do %>
            <%= image_tag "house.png", alt: "alttext", class: "mb-3"%>
          <% end %>
          <!-- <br> -->
          <!-- <%= link_to 'Home', root_path, class: 'btn-transparent m-2' %>  -->
        </div>

        <!-- mood calendar  -->

        <div class="card-dashboard horizontal-card">
          <h4 class="text-center">Mood Calendar</h4>
          <div class="grid-calendar">
            <p class="weekday"> <%= (Date.today - 6).strftime("%A")[0..2] %> </p>
            <p class="weekday"> <%= (Date.today - 5).strftime("%A")[0..2] %> </p>
            <p class="weekday"> <%= (Date.today - 4).strftime("%A")[0..2] %> </p>
            <p class="weekday"> <%= (Date.today - 3).strftime("%A")[0..2] %> </p>
            <p class="weekday"> <%= (Date.today - 2).strftime("%A")[0..2] %> </p>
            <p class="weekday"> <%= (Date.today - 1).strftime("%A")[0..2] %> </p>
            <p class="weekday"> <%= Date.today.strftime("%A")[0..2] %> </p>
            <p class="mood-day"> <%= @minus_six %> </p>
            <p class="mood-day"> <%= @minus_five %> </p>
            <p class="mood-day"> <%= @minus_four %> </p>
            <p class="mood-day"> <%= @minus_three %> </p>
            <p class="mood-day"> <%= @minus_two %> </p>
            <p class="mood-day"> <%= @minus_one %> </p>
            <p class="mood-day"> <%= @today %> </p>
          </div>
        </div>

        <div class="card-dashboard horizontal-card">

          <div class="d-flex justify-content-center">

            <h4 class="text-center">Bookmarked Sites</h4>
            <div class="dropdown">
              <button onclick="myFunction()" class="dropbtn ml-2"><i class="fa fa-plus" aria-hidden="true"></i></button>
                <div id="myDropdown" class="dropdown-content">
                  <div class="newbookmark_container p-4">
                    <%= simple_form_for [ @user, @bookmark ] do |f| %>
                    <%= f.input :name %><br/>
                    <%= f.input :link %>
                    <%= f.submit "add", class: "btn-addbookmark"%>
                    <% end %>
                  </div>
                </div>
            </div>
          </div>

          <div class="bookmarks-all d-flex justify-content-center scrollvertical m-3">
            <% current_user.bookmarks.each do |bookmark| %>

              <div class="bookmark-icon-container">
                <div class="bookmark-icon mr-4">
                  <%= link_to bookmark.link do %>
                    <%= image_tag bookmark.favicon_url, alt: "#{bookmark.name}", class: "favicon", width: "70px" %>
                    <!--  <%= bookmark.name %> -->
                  <% end %>
                </div>
                <div class="bookmark-trash">
                  <%= link_to bookmark_path(bookmark.id), method: :delete do %>
                    <i class="far fa-times-circle"></i>
                  <% end %>
                </div>
              </div>

            <% end %>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
