<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">How are you feeling?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mood-icons" id="mood-form">
          <%= simple_form_for @user_mood do |f| %>
            <%= f.association :mood,
              as: :radio_buttons,
              # collection_wrapper_tag: 'div',
              # collection_wrapper_class: 'category-wrapper',
              item_wrapper_class: 'category-item',
              input_html: {class: 'category-selector'}, label: false, label_method: :emoji %>

            <%= f.submit 'Submit', class: "btn btn-mood-submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Color scheme nodal: -->
<div class="modal fade" id="color-change" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLongTitle">What colors inspire you?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mood-icons" id="mood-form">
          <%= simple_form_for current_user do |f| %>
            <%= f.input :color, as: :radio_buttons, label: false, collection: ["#A5B8FF", "#6EA7FD", "#74E0EF", "#95DFB7", "#000000"] %>
          <%= f.submit 'Submit', class: "btn btn-mood-submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="homepage-background" style="background: linear-gradient(359.61deg, #FFFFFF -186.67%, rgba(255, 255, 255, 0) 99.72%), <%= current_user.color %>">
  <div class="container-homepage">

    <div class="website-name">
      <%= image_tag "white-logo.png", alt: "conscious clicks logo", class: "cc-logo" %>
      <h1 class="ml-2 mt-2">Conscious Clicks</h1>
    </div>

    <button class="btn-color-change" id="mood-check-in" type="button" data-toggle="modal" data-target="#color-change"><i class="fas fa-palette"></i></button>

    <div class="homepage-top">
      <div class="homepage-left">

        <h2 class="main-message">
          <% if @message.has_key?("link") %>
              <%= link_to @message["message"], @message["link"] %>
            <% else %>
              <%= @message["message"] %>
          <% end %>
        </h2>

      </div>

      <div class="homepage-right">

        <div class="big-picture-box goals">
          <p>big picture goals</p>
          <%= simple_form_for(Goal.new) do |f| %>
            <%= f.input :content, input_html: {id: 'big-picture', class: 'typebox', value: @big_picture ? @big_picture.content : ""}, label: false %>
            <!-- <input type="text" id="big-picture" autocomplete="off" label="big picture" class="typebox" name="content"> -->
            <%= f.input :category, input_html: {value: 'big-picture'}, as: :hidden %>
            <%= f.submit '', class: 'hidden', id: "big-picture-submit" %>
          <% end %>

        </div>

        <!-- <div class="little-goals-box goals">
          <p>Little goals</p>
          <%= simple_form_for(Goal.new) do |f| %>
            <%= f.input :content, input_html: {id: 'little-goals', class: 'typebox', value: @little_goals ? @little_goals.content : ""}, label: false %>
            <%= f.input :category, input_html: {value: 'little-goals'}, as: :hidden %>
            <%= f.submit '', class: 'hidden', id: "little-goals-submit" %>
          <% end %>
        </div> -->

      </div>

    </div>

    <div class="homepage-buttons">
      <div class="dropdowns">
        <button class="btn-homepage" id="mood-check-in" type="button" data-toggle="modal" data-target="#exampleModalCenter">Mood check-in</button>
      </div>
      <%= link_to 'Dashboard', dashboard_path, class: 'btn-homepage ml-5' %>
    </div>

    <div class="homepage-bottom">

      <div id="lollipop">
        <%= link_to @treat, target: :_blank do %>
          <img src="https://img.icons8.com/dusk/64/000000/cherry-chupa-chups.png"/>
        <% end %>
      </div>

      <!-- <div class="custom-message-box">
        <%= simple_form_for(Goal.new) do |f| %>
          <%= f.input :content, input_html: {id: 'custom-message', class: 'typebox', value: @custom_message ? @custom_message.content : ""}, label: false %>
          <%= f.input :category, input_html: {value: 'custom-message'}, as: :hidden %>
          <%= f.submit '', class: 'hidden', id: "custom-message-submit" %>
        <% end %>
      </div> -->

      <div class="homepage-bookmarks">
        <% current_user.bookmarks.each do |bookmark| %>

          <%= link_to bookmark.link do%>
            <%= image_tag bookmark.favicon_url, alt: "alttext", class: "favicon bookmark-circle" %>
            <!--  <%= bookmark.name %> -->
          <% end %>

        <% end %>
      </div>

      <%= link_to refresh_message_path(new_message: true) do %>
        <i class="fas fa-undo btn-new-message btn-refresh" style=""></i>
      <% end %>

    </div>
  </div>
</div>
