<div class="homepage-background">
  <div class="mood-icons">
    <p>How are you feeling?</p>
    <i class="fas fa-grin-beam mood-choice" style="color:#B08CFF"></i>
    <i class="fas fa-grin" style="color:#70D3FF"></i>
    <i class="fas fa-smile mood-choice" style="color:#8EFF9B"></i>
    <i class="fas fa-meh mood-choice" style="color:#ffe62d"></i>
    <i class="fas fa-frown mood-choice" style="color:#FFCC6F"></i>
    <i class="fas fa-tired mood-choice" style="color:#FF7878"></i>
    <input type="text" placeholder="in a few words...">
    <br>
    <button>save</button>
  </div>
  <div class="container-homepage">
    <div class="homepage-top">
      <div class="homepage-left">

        <h2 class="main-message"><%= current_user.current_message %></h2>


        <div class="homepage-bookmarks">
          <%= image_tag("gmail-screenshot.png", class: "bookmark-circle") %>
          <%= image_tag("google-screenshot.png", class: "bookmark-circle") %>
          <%= image_tag("kitt-screenshot.png", class: "bookmark-circle") %>
          <%= image_tag("rubydocs-screenshot.png", class: "bookmark-circle") %>
        </div>

        <div class="homepage-buttons">
          <div class="dropdown">
            <button class="btn-homepage">Mood Check-in</button>
            <div class="dropdown-content dropdown-content-moods text-center p-3">
              <%= simple_form_for @user_mood do |f| %>
                <%= f.association :mood,
                  as: :radio_buttons,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  item_wrapper_class: 'category-item',
                  input_html: {class: 'category-selector'}, label: false, label_method: :emoji %>

                <%= f.submit 'Submit', class: "btn btn-mood-submit" %>
              <% end %>
            </div>
          </div>
          <%= link_to 'Dashboard', dashboard_path, class: 'btn-homepage' %>
        </div>

      </div>

      <div class="homepage-right">

        <div class="big-picture-box goals">
          <p>Big picture</p>
          <%= simple_form_for(Goal.new) do |f| %>
            <%= f.input :content, input_html: {id: 'big-picture', class: 'typebox', value: @big_picture ? @big_picture.content : ""}, label: false %>
            <!-- <input type="text" id="big-picture" autocomplete="off" label="big picture" class="typebox" name="content"> -->
            <%= f.input :category, input_html: {value: 'big-picture'}, as: :hidden %>
            <%= f.submit '', class: 'hidden', id: "big-picture-submit" %>
          <% end %>

        </div>

        <div class="little-goals-box goals">
          <p>Little goals</p>
          <%= simple_form_for(Goal.new) do |f| %>
            <%= f.input :content, input_html: {id: 'little-goals', class: 'typebox', value: @little_goals ? @little_goals.content : ""}, label: false %>
            <%= f.input :category, input_html: {value: 'little-goals'}, as: :hidden %>
            <%= f.submit '', class: 'hidden', id: "little-goals-submit" %>
          <% end %>
        </div>

      </div>

    </div>

    <div class="homepage-bottom">

      <div id="lollipop">
        <%= link_to @treat, target: :_blank do %>
          <img src="https://img.icons8.com/dusk/64/000000/cherry-chupa-chups.png"/>
        <% end %>
      </div>

      <!-- <input type="text" data-test="custom-messages" autocomplete="off" class="typebox custom-message"> -->
      <div class="custom-message-box">
        <%= simple_form_for(Goal.new) do |f| %>
          <%= f.input :content, input_html: {id: 'custom-message', class: 'typebox', value: @custom_message ? @custom_message.content : ""}, label: false %>
          <%= f.input :category, input_html: {value: 'custom-message'}, as: :hidden %>
          <%= f.submit '', class: 'hidden', id: "custom-message-submit" %>
        <% end %>
      </div>

      <div>
        <%= link_to refresh_message_path(new_message: true) do %>
          <i class="fas fa-undo btn-new-message"></i>
        <% end %>
      </div>

    </div>
  </div>
</div>
