<div class="homepage-background">
  <div class="container-homepage">
    <div class="homepage-top">
      <div class="homepage-left">

        <h2 class="main-message"><%= @message %></h2>

        <div class="homepage-bookmarks">
          <%= image_tag("gmail-screenshot.png", class: "bookmark-circle") %>
          <%= image_tag("google-screenshot.png", class: "bookmark-circle") %>
          <%= image_tag("kitt-screenshot.png", class: "bookmark-circle") %>
          <%= image_tag("rubydocs-screenshot.png", class: "bookmark-circle") %>
        </div>

        <div class="homepage-buttons">
          <a href="/new_user_mood" class="btn-homepage">Mood check-in</a>
          <a href="#" class="btn-homepage">Dashboard</a>
        </div>

      </div>

      <div class="homepage-right">

        <div class="big-picture-box goals">
          <p>Big picture</p>
          <%= simple_form_for(Goal.new) do |f| %>
            <%= f.input :content, input_html: {id: 'big-picture', class: 'typebox'}, label: false %>
            <!-- <input type="text" id="big-picture" autocomplete="off" label="big picture" class="typebox" name="content"> -->
            <%= f.input :category, input_html: {value: 'big-picture'}, as: :hidden %>
            <%= f.submit '', class: 'hidden', id: "big-picture-submit" %>
          <% end %>
          <!-- , value: @big_picture.content -->
        </div>

        <div class="little-goals-box goals">
          <p>Little goals</p>
          <%= simple_form_for(Goal.new) do |f| %>
            <%= f.input :content, input_html: {id: 'little-goals', class: 'typebox'}, label: false %>
            <%= f.input :category, input_html: {value: 'little-goals'}, as: :hidden %>
            <%= f.submit '', class: 'hidden', id: "little-goals-submit" %>
            <!-- , value: @little_goals.content -->
          <% end %>
        </div>

      </div>

    </div>

    <div class="homepage-bottom">

      <div id="lollipop">
        <%= link_to @treat, target: :_blank do %>
          <img src="https://img.icons8.com/dusk/64/000000/cherry-chupa-chups.png"/>
        <% end %>
      </div>

      <!-- <input type="text" data-test="custom-messages" autocomplete="off" class="typebox custom-message"> -->
      <div class="custom-message-box">
          <%= simple_form_for(Goal.new) do |f| %>
            <%= f.input :content, input_html: {id: 'custom-message', class: 'typebox'}, label: false %>
            <%= f.input :category, input_html: {value: 'custom-message'}, as: :hidden %>
            <%= f.submit '', class: 'hidden', id: "custom-message-submit" %>
            <!-- , value: @custom_message.content -->
          <% end %>
        </div>

    </div>
  </div>
</div>
