<div class="container-devise-form">
  <h2 >Add a mesage set</h2>

  <div class="add_castle">
    <div class="container">
      <div class="form-inputs">
        <%= simple_form_for(@message_set) do |f| %>
          <div class="form-inputs">
            <%= f.input :theme, label: "theme" %>
            <%= f.input :messages, label: "messages", do %>
              <%= f.input :message %>
            <% end %>
            <%= f.input :link, label: "links" %>
          </div>

          <div class="form-actions">
            <div class="book">
              <%= f.submit  "add your message set"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'back', root_path, class: "btn-back" %>
  </div>
</div>
