<div class="mood-background">
    <div class="greetings-mood">
    <h2>Hey  <%= current_user.name%>, how are you ?</h2>
    </div>
        <%= simple_form_for @user_mood do |f| %>
          <%= f.input :mood_id, as: :radio_buttons, collection: Mood.all, label_method: :emoji %>
          <%= f.submit 'Submit'  %>
        <% end %>
        <%= @average_mood_today&.emoji %>
</div>
